
// Fonts
$font-family: 'Source Sans Pro', sans-serif;;

// Colors
$primary-color: #159f9e;
$secondary-color-dark: #8f8e8b;
$secondary-color: #e4e5e6;
$secondary-color-light: #f4f4f4;


$transparent-black: rgba(0, 0, 0, 0.12);
$black: #1c1c1c;
$white: #ffffff;
$box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);


//Responsive

$break-small: 480px;
$break-medium: 768px;
$break-large: 1200px;
